@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Formulario2";
}
<head></head>
<body>
    <h1>Mantenimiento de Equipos</h1>
    <br>
    <form asp-action="CrearEquipos">
        @*Inicio del form*@
        <div class="form-group row mb-4">
            <div class="col-sm-2">
                <label>Nombre</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBox("nombre", "", new{@class="form-control"})
            </div>
            <div class="col-sm-2">@Html.Label("lblDescripcion", "Descripcion")</div>
            <div class="col-sm-4">@Html.TextArea("descripcion", "", new{@class="form-control", @placeHolder="Ingrese la descripcion"})</div>
        </div>
        <div class="form-group row mb-4">
            @Html.DropDownList("marca_id", ViewData["listadoDeMarcas"] as SelectList , "Seleccione una Marca" , new {@class="form-control"})
        </div>
        <div class="form-group row mb-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Guardar"/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipo in (IEnumerable<dynamic>)ViewData["listadoEquipo"])
                {
                    <tr>
                        <td>@equipo.nombre</td>
                        <td>@equipo.descripcion</td>
                        <td>@equipo.marca_nombre</td>
                    </tr>
                }
            </tbody>
        </table>
        @*Fin del form*@
    </form>
</body>
<footer></footer>